[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
django = "*"
setuptools = "*"
wheel = "*"
twine = "*"
sphinx = "*"
coverage = "*"
doc8 = "*"
tox = "*"
mypy = "*"
freezegun = "*"
django-otp-signal = {editable = true,path = "."}

[packages]
django-otp = ">=0.9.2"
pysignalclirestapi = ">=0.3.21"

[requires]
python_version = "3.7"
